<!DOCTYPE html>
<html lang='ko'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" charset="utf-8" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form name = "frm" action="/mainPage" id ="frm" method="post">
    <input type="hidden" name="v1" id="v1" value="helloWorld">
    <h1><%= title %></h1>
    <p>Welceeome to <%= title %></p>
    아이디 : <input type ="text" name="id"><br>
    패스워드 : <input type ="password" name="password"><br>
    <input type="hidden" id="value4" name="SubmitType" value="1">
    <input type="hidden" id="value5" name="LoginUserID" value="1">
    <input type="submit" id="accept1" class="accept2" value="확인"><br>
  <% for ( var i = 0; i < 5; ++i ) { %>
    <li>#<%=i%></li>
    <%} %>
    </form>
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
//        $('.accept2').click(function(){
//          alert( "click2" );
//        });
      });
    </script>
  </body>
</html>


<!--<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>-->
<!--<script>-->
  <!--function ow()-->
  <!--{-->
    <!--var tw = window.open( "", "test", "width=400,height=400" );-->
    <!--var v1 = $('#v1').val();-->
    <!--$(tw.document.body).html("<input type=text value='"+v1+"'>");-->

    <!--//새창으로 post방식으로 값 넘길때 사용-->
    <!--$('#frm').target = "test";-->
    <!--$('#frm').submit();-->

  <!--}-->
<!--</script>-->

<!--<form name="frm" id="frm" method="post">-->
  <!--<input type="hidden" name="v1" id="v1" value="b1ix_output">-->
<!--</form>-->

<!--<input type="button" value="open_window" onclick="ow()">-->
