<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <form method="post">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welceeome to <%= title %></p>
    ID : <input type ="text" name="id"><br>
    PASSWORD : <input type ="password" name="password"><br>
    <input type="button" id="accept1" class="accept2" value="확인"><br>
  <% for ( var i = 0; i < 5; ++i ) { %>
    <li>#<%=i%></li>
    <%} %>
    </form>
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#accept1').mousedown(function(){
          location.href = "http://www.naver.com";
        });
//        $('.accept2').mousedown(function(){
//          alert( "click2" );
//        });
      });
    </script>
  </body>
</html>
