<!DOCTYPE html>
<html lang='ko'>
<head>
    <meta charset = "UTF-8">
    <form method="post">
        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% if( logined ) {
%>
Jpn : <input type ="text" name="jpn"><br>
Kor : <input type ="text" name="kor"><br>
<%}%>
<script type="text/javascript" src="node_modules/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
</body>
</html>
