body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

#left {
  width: 100px;
  height: 50vh;
  background-color: lightgrey;
  float: left;
}

#right {
  float: left;
}

#register-word {
  cursor: pointer;
}

#view-word {
  cursor:pointer;
}