body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

#left {
  width: 50%;
  height: 100vh;
  background-color: lightgrey;
  float: left;
}

#forms {
  margin-top: 8px;
}

#left .left-form {
  text-align: center;
}

#left .btn {
  width: 80%;
  margin: 0 auto;
}

#right {
  width: 50%;
  height: 100vh;
  float: left;
  background-image: url("/images/miffy2.png");
}

#register-word {
  cursor: pointer;
}

#view-word {
  cursor:pointer;
}